In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000
1863,tt0219653,28000000,33000337,Dracula 2000,Gerard Butler|Christopher Plummer|Jonny Lee Mi...,Patrick Lussier,The Most Seductive Evil of All Time Has Now Be...,In the millenium version of this classic Gothi...,99,Horror|Thriller,Neo Art & Logic|Dimension Films|Wes Craven Films,12/22/2000,4.7,2000
1339,tt0414387,28000000,121147947,Pride & Prejudice,Keira Knightley|Matthew Macfadyen|Rosamund Pik...,Joe Wright,A romance ahead of its time.,Pride and Prejudice is a humorous story of lov...,128,Drama|Romance,Universal Pictures|StudioCanal|Scion Films|Foc...,9/16/2005,7.6,2005
738,tt1632708,35000000,150483765,Friends with Benefits,Justin Timberlake|Mila Kunis|Patricia Clarkson...,Will Gluck,Some friends come with a happy ending.,While trying to avoid the clichÃ©s of Hollywoo...,109,Comedy,Castle Rock Entertainment|Screen Gems|Olive Br...,7/21/2011,6.5,2011
1816,tt0141926,62000000,127666415,U-571,Matthew McConaughey|Bill Paxton|Harvey Keitel|...,Jonathan Mostow,Heroes are ordinary men who do extraordinary t...,"In the midst of World War II, the battle below...",116,Action|Drama|Thriller|War,Universal Pictures|Canal Plus|Dino De Laurenti...,4/20/2000,6.1,2000

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #"+"
# если ответили верно, можете добавить комментарий со значком "+"

In [13]:
# тут пишем ваш код для решения данного вопроса:
display(data[(data.budget == data.budget.max())].original_title)
data.iloc[723]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

imdb_id                                                         tt1298650
budget                                                          380000000
revenue                                                        1021683000
original_title                Pirates of the Caribbean: On Stranger Tides
cast                    Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
director                                                     Rob Marshall
tagline                                       Live Forever Or Die Trying.
overview                Captain Jack Sparrow crosses paths with a woma...
runtime                                                               136
genres                                           Adventure|Action|Fantasy
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|M...
release_date                                                    5/11/2011
vote_average                                                          6.3
release_year                                                         2011
Name: 723, dtype: object

ВАРИАНТ 2

In [14]:
# можно добавлять разные варианты решения
data[(data.budget == data.budget.max())][['imdb_id', 'budget', 'original_title']]

       imdb_id     budget                               original_title
723  tt1298650  380000000  Pirates of the Caribbean: On Stranger Tides

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [15]:
data[(data.runtime == data.runtime.max())][['imdb_id', 'original_title', 'runtime']] #"+"

        imdb_id     original_title  runtime
1157  tt0279111  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [16]:
data[(data.runtime == data.runtime.min())][['imdb_id', 'original_title', 'runtime']] #"+"

       imdb_id   original_title  runtime
768  tt1449283  Winnie the Pooh       63

# 4. Какова средняя длительность фильмов?

In [27]:
answers['4'] = 110

In [17]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [28]:
answers['5'] = 107

In [19]:
data.runtime.median() #"+"

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [23]:
answers['6'] = 'Avatar (tt0499549)'

In [22]:
data[(data.profit == data.profit.max())][['imdb_id', 'original_title', 'profit']] #"+"

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

# 7. Какой фильм самый убыточный?

In [25]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [24]:
data[(data.profit == data.profit.min())][['imdb_id', 'original_title', 'profit']] #"+"

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [29]:
answers['8'] = 1478

In [26]:
data[data.revenue > data.budget].original_title.describe() #"+"

count         1478
unique        1476
top       The Gift
freq             2
Name: original_title, dtype: object

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [33]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [32]:
data_2008 = data[(data.release_year == 2008)]
data_2008[(data_2008.revenue == data_2008.revenue.max())][['imdb_id', 'revenue', 'original_title']] #"+"

       imdb_id     revenue   original_title
599  tt0468569  1001921825  The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [35]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [34]:
data_2012_2014 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
data_2012_2014[(data_2012_2014.profit == data_2012_2014.profit.min())][['imdb_id', 'original_title', 'profit']] #"+"

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 11. Какого жанра фильмов больше всего?

In [40]:
answers['11'] = 'Drama'

In [39]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_spisok = []
unique_genres = []
genres = {}
genres = data['genres']
for spisok in genres:
    genres_spisok.append(spisok.split('|'))
len(genres_spisok)
i = 0
while i < 1889:
    for genre in genres_spisok[i]:
        unique_genres.append(genre)
    i+=1
data_genres = pd.Series(unique_genres)
data_genres.value_counts() #"+"

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [42]:
answers['12'] = 'Drama'

In [41]:
data_profit = data[(data['profit'] > 0)]
genres_spisok = []
unique_genres = []
genres = {}
genres = data_profit['genres']
for spisok in genres:
    genres_spisok.append(spisok.split('|'))
len(genres_spisok)
i = 0
while i < 1478:
    for genre in genres_spisok[i]:
        unique_genres.append(genre)
    i+=1
data_genres = pd.Series(unique_genres)
data_genres.value_counts() #"+"

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [62]:
answers['13'] = 'Peter Jackson'

In [61]:
pivot = data.pivot_table(values=['revenue'],
index=['budget'],
columns=['director'],
aggfunc='sum',
margins=True,                         
fill_value=0)
temporary = pivot.loc['All']
temporary.sort_values(ascending=False) #"+"

         director
revenue  All                  293485091528
         Peter Jackson          6490593685
         Christopher Nolan      4167548502
         David Yates            4154295625
         Michael Bay            3886938960
                                  ...
         David MichÃ´d             2295423
         Steven Shainberg          2281089
         Paul Schrader             2062066
         Keanu Reeves              2054941
         Simon Hunter              2033165
Name: All, Length: 958, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [46]:
answers['14'] = 'Robert Rodriguez'

In [45]:
director_action = data[data.genres.str.contains("Action", na=False)]
directors_spisok = []
unique_directors = []
directors = {}
directors = director_action['director']
for spisok in directors:
    directors_spisok.append(spisok.split('|'))
len(directors_spisok)
i = 0
while i < 582:
    for director in directors_spisok[i]:
        unique_directors.append(director)
    i+=1
data_directors = pd.Series(unique_directors)
data_directors.value_counts() #"+"

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Jon Amiel             1
MÃ¥ns MÃ¥rlind        1
Jimmy Hayward         1
Kevin Macdonald       1
JosÃ© Padilha         1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [57]:
answers['15'] = 'Chris Hemsworth'

In [53]:
data_2012 = data[(data['release_year'] == 2012)]
data_2012_most_revenue_movie = data_2012[(data_2012['revenue'] == data_2012['revenue'].max())]
actors_spisok = []
actors = data_2012_most_revenue_movie['cast']
for spisok in actors:
    actors_spisok.append(spisok.split('|'))
actors_spisok #"+"

[['Robert Downey Jr.',
  'Chris Evans',
  'Mark Ruffalo',
  'Chris Hemsworth',
  'Scarlett Johansson']]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [58]:
answers['16'] = 'Matt Damon'

In [55]:
data_high_budget = data[(data['budget'] > data['budget'].mean())]
actors_spisok = []
unique_actors = []
actors = data_high_budget['cast']
for spisok in actors:
    actors_spisok.append(spisok.split('|'))
len(actors_spisok)
i = 0
while i < 671:
    for actor in actors_spisok[i]:
        unique_actors.append(actor)
    i+=1
data_actors = pd.Series(unique_actors)
data_actors.value_counts() #"+"

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
MaÃ¯ Anh Le           1
Hugh Dancy            1
Tim McInnerny         1
Thomas Jane           1
Helmut Bakaitis       1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [60]:
answers['17'] = 'Action'

In [59]:
data_Nicolas_Cage = data[data.cast.str.contains('Nicolas Cage')]
genres_spisok = []
unique_genres = []
genres = data_Nicolas_Cage['genres']
for spisok in genres:
    genres_spisok.append(spisok.split('|'))
len(genres_spisok)
i = 0
while i < 27:
    for genre in genres_spisok[i]:
        unique_genres.append(genre)
    i+=1
data_genres = pd.Series(unique_genres)
data_genres.value_counts() #"+"

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Romance             1
Horror              1
War                 1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [66]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [65]:
data_Paramount_Pictures = data[data.production_companies.str.contains('Paramount Pictures')]
data_Paramount_Pictures[(data_Paramount_Pictures['profit'] == data_Paramount_Pictures['profit'].min())][['imdb_id', 'original_title', 'profit']] #"+"

       imdb_id        original_title    profit
925  tt0267626  K-19: The Widowmaker -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [68]:
answers['19'] = 2015

In [67]:
years = sorted(data['release_year'].unique())
#display(years)
revenue_2000 = data[(data['release_year'] == 2000)]['revenue'].sum()
revenue_2001 = data[(data['release_year'] == 2001)]['revenue'].sum()
revenue_2002 = data[(data['release_year'] == 2002)]['revenue'].sum()
revenue_2003 = data[(data['release_year'] == 2003)]['revenue'].sum()
revenue_2004 = data[(data['release_year'] == 2004)]['revenue'].sum()
revenue_2005 = data[(data['release_year'] == 2005)]['revenue'].sum()
revenue_2006 = data[(data['release_year'] == 2006)]['revenue'].sum()
revenue_2007 = data[(data['release_year'] == 2007)]['revenue'].sum()
revenue_2008 = data[(data['release_year'] == 2008)]['revenue'].sum()
revenue_2009 = data[(data['release_year'] == 2009)]['revenue'].sum()
revenue_2010 = data[(data['release_year'] == 2010)]['revenue'].sum()
revenue_2011 = data[(data['release_year'] == 2011)]['revenue'].sum()
revenue_2012 = data[(data['release_year'] == 2012)]['revenue'].sum()
revenue_2013 = data[(data['release_year'] == 2013)]['revenue'].sum()
revenue_2014 = data[(data['release_year'] == 2014)]['revenue'].sum()
revenue_2015 = data[(data['release_year'] == 2015)]['revenue'].sum()
year_revenue = pd.Series ([revenue_2000, revenue_2001, revenue_2002, revenue_2003, revenue_2004,
                          revenue_2005, revenue_2006, revenue_2007, revenue_2008, revenue_2009,
                          revenue_2010, revenue_2011, revenue_2012, revenue_2013, revenue_2014,
                          revenue_2015],
                 index = [years])
year_revenue.sort_values(ascending=False) #"+"

2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [72]:
answers['20'] = 2014

In [71]:
data_Warner_Bros = data[data.production_companies.str.contains('Warner Bros')]
data_Warner_Bros.groupby('release_year')['profit'].sum().sort_values(ascending=False) #"+"

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [78]:
answers['21'] = 'Сентябрь'

In [82]:
release_date = data['release_date']
release_date_spisok = []
for date in release_date:
    release_date_spisok.append(date.split('/'))
len(release_date_spisok)
i = 0
indexes = []
while i < 1889:
    for date in release_date_spisok[i]:
        if date == '1':
            indexes.append(i)
    i+=1
data_january = data.iloc[indexes]
data_january = data_january[data_january.release_date.str.match('1')]
data_january = data_january[~data_january.release_date.str.match('10')]
data_1_month = len(data_january)
data_2_month = len(data[data.release_date.str.match('2')])
data_3_month = len(data[data.release_date.str.match('3')])
data_4_month = len(data[data.release_date.str.match('4')])
data_5_month = len(data[data.release_date.str.match('5')])
data_6_month = len(data[data.release_date.str.match('6')])
data_7_month = len(data[data.release_date.str.match('7')])
data_8_month = len(data[data.release_date.str.match('8')])
data_9_month = len(data[data.release_date.str.match('9')])
data_10_month = len(data[data.release_date.str.match('10')])
data_11_month = len(data[data.release_date.str.match('11')])
data_12_month = len(data[data.release_date.str.match('12')])
months_movies = pd.Series ([data_1_month, data_2_month, data_3_month, data_4_month, data_5_month,
                          data_6_month, data_7_month, data_8_month, data_9_month, data_10_month,
                          data_11_month, data_12_month],
                 index = ['Январь', "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август",
                         "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"])
months_movies.sort_values(ascending=False) #"+"

Сентябрь    227
Декабрь     190
Октябрь     186
Август      161
Март        156
Апрель      149
Июнь        147
Ноябрь      146
Июль        142
Май         140
Февраль     135
Январь      120
dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [76]:
answers['22'] = 450

In [75]:
summer = months_movies.loc['Июнь'] + months_movies.loc['Июль'] + months_movies.loc['Август']
summer #"+"

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [80]:
answers['23'] = 'Peter Jackson'

In [81]:
data_december = data[data.release_date.str.match('12')]
release_date = data['release_date']
release_date_spisok = []
for date in release_date:
    release_date_spisok.append(date.split('/'))
len(release_date_spisok)
i = 0
indexes = []
while i < 1889:
    for date in release_date_spisok[i]:
        if date == '1':
            indexes.append(i)
    i+=1
data_january = data.iloc[indexes]
data_january = data_january[data_january.release_date.str.match('1')]
data_january = data_january[~data_january.release_date.str.match('10')]
data_february = data[data.release_date.str.match('2')]

data_winter_directors = pd.concat([data_december, data_january, data_february])
directors_spisok = []
unique_directors = []
directors = {}
directors = data_winter_directors['director']
for spisok in directors:
    directors_spisok.append(spisok.split('|'))
len(directors_spisok)
i = 0
while i < 445:
    for director in directors_spisok[i]:
        unique_directors.append(director)
    i+=1
winter_directors = pd.Series(unique_directors)
winter_directors.value_counts() #"+"

Peter Jackson        8
Clint Eastwood       6
Steven Soderbergh    6
Peter Farrelly       5
Adam Shankman        4
                    ..
Daniel Barnz         1
Sara Sugarman        1
Geoffrey Sax         1
Tom Tykwer           1
Pete Docter          1
Length: 363, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [98]:
answers['24'] = 'Four By Two Productions'

In [97]:
original_title = data['original_title']
length_original_title = original_title.apply(lambda x: len(x))
length_original_title.rename('length_title', inplace=True)
data_title_length = pd.concat([data, length_original_title], axis = 1)

production_companies_spisok = []
unique_production_companies = []
production_companies = data['production_companies']
for companies in production_companies:
    production_companies_spisok.append(companies.split('|'))

i = 0
while i < len(production_companies_spisok):
    for company in production_companies_spisok[i]:
        unique_production_companies.append(company)
    i+=1
data_companies = pd.Series(unique_production_companies)
#print(len(unique_production_companies))

unique_companies = []
for unique in unique_production_companies:
    if unique not in unique_companies:
        unique_companies.append(unique)

mean_length_title = []
j = 0
while j < len(unique_companies):
    company = data_title_length[data_title_length.production_companies.str.contains(unique_companies[j])]
    mean_length_title.append(round(company['length_title'].mean(), 2))
    j+=1
#print(len(mean_length_title))

df_companies_and_long_titles = pd.DataFrame({'companies': unique_companies,
                                             'mean length of title': mean_length_title})

sorted_df = df_companies_and_long_titles.sort_values(by = 'mean length of title', ascending=False)
sorted_df #Получил верный ответ только с третьей попытки

C:\Datascience\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                                              companies  mean length of title
1505                            Four By Two Productions                  83.0
389                             Jim Henson Company, The                  59.0
1211                                      Dos Corazones                  47.0
450                           Museum Canada Productions                  46.0
547                                        Polsky Films                  46.0
...                                                 ...                   ...
1451                  Warner Independent Pictures (WIP)                   NaN
1485                            The Movie Network (TMN)                   NaN
1721  Munich Film Partners & Company (MFP) MI2 Produ...                   NaN
1731                                Danmarks Radio (DR)                   NaN
1754  Munich Film Partners & Company (MFP) ROE Produ...                   NaN

[1771 rows x 2 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [86]:
answers['25'] = 'Universal Pictures'

In [96]:
overview = data['overview']
words_in_overview = overview.apply(lambda x: len(x.split()))
words_in_overview.rename('words_in_overview', inplace=True)
data_overview_length = pd.concat([data, words_in_overview], axis = 1)

production_companies_spisok = []
unique_production_companies = []
production_companies = data_overview_length['production_companies']
for companies in production_companies:
    production_companies_spisok.append(companies.split('|'))

i = 0
while i < len(production_companies_spisok):
    for company in production_companies_spisok[i]:
        unique_production_companies.append(company)
    i+=1

unique_companies = []
for unique in unique_production_companies:
    if unique not in unique_companies:
        unique_companies.append(unique)

data_companies = pd.Series(unique_companies)
#print(len(unique_companies))

mean_length_overview = []
j = 0
while j < len(unique_companies):
    company = data_overview_length[data_overview_length.production_companies.str.contains(unique_companies[j])]
    mean_length_overview.append(round(company['words_in_overview'].mean(), 2))
    j+=1
#print(len(mean_length_overview))


df_companies_and_long_overview = pd.DataFrame({'companies': unique_companies,
                                             'mean length of overview': mean_length_overview})

sorted_df = df_companies_and_long_overview.sort_values(by = 'mean length of overview', ascending=False)
sorted_df #"+"

C:\Datascience\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

,companies,mean length of overview
950,Midnight Picture Show,175.0
1445,Room 9 Entertainment,161.0
1141,98 MPH Productions,159.0
1232,Heineken Branded Entertainment,159.0
1039,Brookwell-McNamara Entertainment,156.0
...,...,...
1451,Warner Independent Pictures (WIP),NaN
1485,The Movie Network (TMN),NaN
1721,Munich Film Partners & Company (MFP) MI2 Produ...,NaN
1731,Danmarks Radio (DR),NaN
1754,Munich Film Partners & Company (MFP) ROE Produ...,NaN

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [88]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [87]:
data_rating = data[['original_title', 'vote_average']]
data_rating_sorted = data_rating.sort_values(by = 'vote_average', ascending=False).reset_index()
percent = len(data_rating)*0.01
round(percent)
data_rating_sorted.iloc[:19] #"+"

    index                                 original_title  vote_average
0     599                                The Dark Knight           8.1
1     118                                   Interstellar           8.0
2     125                             The Imitation Game           8.0
3       9                                     Inside Out           8.0
4      34                                           Room           8.0
5    1183                        The Wolf of Wall Street           7.9
6     128                                      Gone Girl           7.9
7    1191                               12 Years a Slave           7.9
8     119                        Guardians of the Galaxy           7.9
9    1081  The Lord of the Rings: The Return of the King           7.9
10   1800                                        Memento           7.9
11    370                                      Inception           7.9
12    872                                    The Pianist           7.9
13    138                       The Grand Budapest Hotel           7.9
14   1188                                            Her           7.8
15     28                                      Spotlight           7.8
16    124                                     Big Hero 6           7.8
17    177                         The Fault in Our Stars           7.8
18    863          The Lord of the Rings: The Two Towers           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [90]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [89]:
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(sorted(j)))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10) #"+"

Daniel Radcliffe Emma Watson        8
Emma Watson Rupert Grint            8
Daniel Radcliffe Rupert Grint       8
Ben Stiller Owen Wilson             6
Helena Bonham Carter Johnny Depp    6
Hugh Jackman Ian McKellen           5
Kristen Stewart Robert Pattinson    5
Kristen Stewart Taylor Lautner      5
Paul Walker Vin Diesel              5
Robert Pattinson Taylor Lautner     5
Name: actor_combinations, dtype: int64

ВАРИАНТ 2

# Submission

In [99]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Universal Pictures',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [100]:
# и убедиться что ни чего не пропустил)
len(answers)

27

# Это самые долгие 4 часа (длиною в три дня) в моей жизни.